[Unit]
Description=ebyte e32 systemd service

[Service]
Type=forking
ExecStartPre=/usr/local/bin/e32 --reset
ExecStart=/usr/local/bin/e32 -v --daemon --socket-unix /run/e32.socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
