[Unit]
Description=lorax systemd service
Requires=e32.service

[Service]
Type=forking
PIDFile=/run/lorax/lorax.pid
# TODO need to paramaterize the server socket to not be echo
ExecStart=/usr/local/bin/lorax \
                              -v \
                              --daemon \
                              --systemd \
                              --sock-unix-messages /run/lorax/messages \
                              --sock-unix-control /run/lorax/control \
                              --sock-unix-e32-ack /run/lorax/client.ack \
                              --sock-unix-e32-client /run/lorax/client \
                              --sock-unix-e32-data /run/e32.data \
                              --sock-unix-server /run/lorax/server
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
