[Unit]
Description=lorax echo service service

[Service]
Type=forking
PIDFile=/run/lorax/echo.pid
ExecStart=/usr/local/bin/lorax_echo -v --daemon --systemd /run/lorax/echo
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
